<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>active meetings</title>
</head>
<body>
    FOR ACTIVE MEETINGS DETAILS U HAVE TO HAVE DATABASE WHICH STORES ALL THE INPUT OF FORM OF ROOM NAME AND
     FROM THERE YOU CAN HAVE ACTIVE MEETINGS
</body>
</html>