<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join meet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='https://meet.jit.si/external_api.js'></script>
    <script>
        var apiObj = null;
        $(document).ready(function(){
            const domain = 'meet.jit.si';
            const options = {
                roomName : `<%=roomValue%>` ,
                width: 1400,
                height: 700,
                parentNode: document.querySelector('#meet'),
            };
        apiObj = new JitsiMeetExternalAPI(domain, options);                
        });
    </script>
</head>
<body>
    <h1>Lets chats</h1>
    <h2>My jitsi meeting</h2>
    <div class="container">
        <div id='meet'></div>
    </div>
</body>
</html>