<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Enter Room Name 
    </h1>
    <form  method="POST" action="/joinMeet">
        <div class="form-group">
            <label for="roomName">Meet Name</label>
            <input type="text" class="form-control" id="roomName" name="roomName" value="<%=roomName%>">
            <br>
            <label for="displayName">Display Name</label>
            <input type="text" class="form-control" id="displayName" name="displayName" placeholder="Your name">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>