<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Meet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='https://meet.jit.si/external_api.js'></script>
    <script>
        var apiObj = null;
        var str = '';
        var stupid = 'stupid'
        $(document).ready(function(){
            const domain = 'meet.jit.si';
            const options = {
                roomName : `<%=roomValue%>` ,
                width: 1400,
                height: 700,
                parentNode: document.querySelector('#meet'),
                userInfo: {
                displayName: `<%=nameValue%>`
            },
            };
        apiObj = new JitsiMeetExternalAPI(domain, options);
        })
        $(document).ready(function(){
            var participant = apiObj.getParticipantsInfo();
            str += JSON.stringify(participant);
            console.log("!!!!!!!!!!! " + "  " + str);
        })

    </script>
</head>
<!-- using predefined values in forms but again the problem is ejs cannot access variables from script tag since ejs is rendered 
   server side and js will execute in browser. You can't pass an javascript variable value to a ejs variable.
    The EJS template will be rendered on the server before the Javscript is started execution(it will start on browser),-->

<body>
    <h1>Lets chats</h1>
    <h2>My jitsi meeting</h2>
    <div id="meet">
        meeting
    </div>
    
    <div>
        <form action="saveData" method="POST"> 
            <pre> 
                participantArray    : <input type="text" name="participantArray"
                            value = '<%= stupid %>' > <br>           
                <input type="submit" value="Submit Form">  
            </pre> 
        </form>
    </div>

</body>
</html>